<h1>AHP Calculator</h1>
<div class="wrapper">
    <!-- <div class="fx-flex fx-align-items-center fx-gap-10">
        <mat-form-field class="w-160" appearance="outline">
            <mat-label>Alternatives Amount</mat-label>
            <input type="number" [formControl]="altAmountControl" matInput />
        </mat-form-field>
        <button class="pt1" mat-button (click)="altAmountClicked()">test</button>
    </div> -->
    <mat-stepper orientation="vertical" linear="true" #stepper>
        <mat-step [completed]="alternatives.length >= 2">
            <ng-template matStepLabel>Fill out alternatives</ng-template>
            <mat-form-field appearance="outline" class="mt-8">
                <mat-label>Alternatives</mat-label>

                <input
                    matInput
                    [formControl]="altControl"
                    placeholder="New alternative..."
                    [matChipInputFor]="altChipGrid"
                    (matChipInputTokenEnd)="onAddAlt($event)" />
            </mat-form-field>
            <mat-chip-grid #altChipGrid>
                @for (alt of alternatives; track alt) {
                <mat-chip-row (removed)="onRemoveAlt(alt)">
                    {{ alt }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
            <button [disabled]="alternatives.length < 2" mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fill out 2nd step</ng-template>
        </mat-step>
    </mat-stepper>
</div>
