/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding: 5px;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.w-110 {
  width: 120px;
}

.w-70 {
  width: 70px;
}

.w-90 {
  width: 90px;
}

.w-180 {
  width: 180px;
}

.w-380 {
  width: 380px;
}

.w-540 {
  width: 540px;
}

.fx-flex {
  display: flex;
}

.fx-flex-column {
  display: flex;
  flex-direction: column;
}

.fx-align-items-center {
  align-items: center;
}

.fx-align-items-start {
  align-items: flex-start;
}

.fx-justify-content-between {
  justify-content: space-between;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-gap-10 {
  gap: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.bb {
  border: 1px solid dimgray;
  padding: 5px;
}
